
* {
    padding: 0;
    margin: 0;
}

body{
    padding-top: 30px;
}
h1{
    margin-top: 50px;
}

p{
    margin-top: 15px;
}
.container{
    width: 600px;
    height: 300px;
    background-color: white;
    border: 3px solid rgb(98, 114, 129);
    justify-content: center;
    margin: auto;
}
.navbar{
    background-color: lightsteelblue;
    height: 60px;
    padding-left: 20px;
}
.avitar {
    height: 90px;
    margin-top: 15px;
    border: 3px solid rgb(98, 114, 129);
    border-radius: 50%;
    padding: 3px;
}
.content{
    margin: 15px;
}
.marker{
    height: 15px;

}
.gear{
    height: 15px;
}
.center{
    align-items: center;
}